body, code {
  font-family: "IBM Plex Mono", monospace;
}

body {
  background: #000000;
  color: #ffffff;
}

code {
  background: #000000;
  color: #ffffff;
  border: solid 1px #ffffff;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

/*
.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
*/
